.header__wrapper {
    max-width: var(--layout-width);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 112px;
}

.header__logo {
    margin-top: 12px;
    width: 88px;
    height: 22px;
}

.header__nav {
    margin-left: auto;
}

.menu {
    list-style: none;
    display: flex;
    gap: 48px;
}

.header__button {
    margin-left: 12px;
}

.menu__item a {
    color: var(--secondary-text-color);
    font-family: Outfit;
    font-size: 14px;
    font-weight: 500;
    line-height: 170%;
    text-decoration: none;
}

.header__button {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    color: #fafafa;
    font-family: Outfit;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    width: 138px;
    height: 44px;
    padding: 12px 20px;
    gap: 4px;
}

@media (max-width: 1200px) {
    .menu__item a {
        color: var(--primary-text-color);
    }

    .header__wrapper {
        padding: 30px 40px;
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }
}