.header__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.header__logo {
    margin-top: 4px;
    height: 32px;
    width: 88px;
}

.header__nav {
    margin-left: auto;
}

.menu {
    list-style: none;
    display: flex;
    gap: 48px;
    margin-right: 12px;
}

.menu__item a {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 170%;
    text-decoration: none;
}

.menu__item:hover a {
    color: var(--color-link-hover);
}

@media (max-width: 1200px) {
    .menu__item a {
        color: var(--primary-text-color);
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }
}